/* FooterStyles.css */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center; /* Center-align the text */
}

.footer-content {
    margin: 0;
    color: black; /* Set the text color to black */
}

.footer-heart {
    color: red; /* Set the heart color to red */
}

.footer-cj {
    color: black; /* Set the text color to black */
}

.footer-link {
    color: black; /* Set the link text color to black */
    text-decoration: none; /* Remove underline from the link */
}

.footer-link:hover {
    text-decoration: underline; /* Add underline on hover */
}

